.cabecalho{
    background-color: black;
    color: yellow;
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    justify-content: space-around;
}

.imagem-cabecalho{
    width: 15%;
    height: 15%;
}

.cabecalho-lista{
    display: inline-block;
}