*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: black;
    color: yellow;
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
   
}

.imagem-cabecalho{
    width: 15%;
    height: 15%;
}

.cabecalho-lista{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.imagem-castelo{
    width: 40%;
}

.escola{
    background-image: linear-gradient(#DAA520, #FF0000);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.titulo-escola{
    padding: 24px 0;
}

.texto-um-escola{
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.imagem-estudante{
    width: 120px;
}

.estudante-casa{
    width: 40px;
}

.estudantes-div{
    text-align: center;
    padding: 16px 0;
}

.estudantes-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudantes{
    background-color: #d2dae2;
}